# Server configuration
PORT=
HOST=

# Database configuration
DB_URL=

# Client configuration
CLIENT_URL=

# SMTP configuration
SMTP_SERVICE=
SMTP_USER=
SMTP_PASSWORD=

# JWT configuration
JWT_ACCESS_KEY=
JWT_REFRESH_KEY=
